<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="voltar()">
      <mat-icon aria-label="Voltar">keyboard_arrow_left</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>



<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Valor" formControlName="valor">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Descrição" formControlName="titulo">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-select placeholder="Categoria" formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias$ | async" [value]="categoria.value">
            {{categoria.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Que dia foi o gasto?" formControlName="data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="salvar()">Salvar</button>
  </mat-card-content>
</mat-card>