/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
  flex-grow: 1;
  display: block;
}

.full-width{
  width: 100%;
}