.add-novo-lancamento{
  position: fixed;
  right: 32px;
  bottom: 32px;
}

.bottom-limit {
  padding-top: 18px;
  height: 57px;
  width: 100%;
}

.item-valor{
  width: 100%;
  text-align: right;
}

.bolinha{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 16px;
}

.cor-pago{
  background-color: #e91e63;
}

.cor-nao-pago{
  background-color:rgba(0, 0, 0, 0.38);
}

.spinener{
  margin: 0 auto;
}