<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="mesAnterior()">
      <mat-icon aria-label="Excluir">keyboard_arrow_left</mat-icon>
    </button>
    <div class="spacer"></div>
    <span>{{ data | date: 'MM/yyyy' }}</span>
    <div class="spacer"></div>
    <button mat-icon-button (click)="proximoMes()">
      <mat-icon aria-label="Excluir">keyboard_arrow_right</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-dashboard-page (onTrocarVisualizacao)="trocarVisualizacao($event)"></app-dashboard-page>

<mat-progress-spinner *ngIf="estaCarregando$ | async"
        class="spinener"
        color="primary"
        mode="indeterminate"
        value="20"></mat-progress-spinner>
        
<app-listagem-lancamentos *ngIf="verLista"
  [naoEstaCarregando]="naoEstaCarregando$ | async"
  [lancamentos]="lancamentos$ | async"
  (onOpenDialog)="openDialog($event)"
  (onEditar)="editar($event)">
</app-listagem-lancamentos>

<app-charts-view *ngIf="!verLista"></app-charts-view>

<div class="bottom-limit">
    <button mat-raised-button color="primary" (click)="onLogout()">Sair</button>
</div>

<button class="add-novo-lancamento" mat-fab color="primary" (click)="adicionar()">
  <mat-icon aria-label="Adicionar novo lançamento">add</mat-icon>
</button>