<mat-card>
  <mat-card-content>
    <p class="total indicador">Total: {{ total$ | async | currency: 'BRL' }}</p>

    <p class="pago indicador">Pago: {{ pago$ | async | currency: 'BRL' }}</p>

    <p class="restante indicador">Restante: {{ restante$ | async | currency: 'BRL' }}</p>
  </mat-card-content>
</mat-card>
<!-- <mat-card>
  <mat-card-content>
      <canvas baseChart 
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"></canvas>
  </mat-card-content>
</mat-card> -->